body {
  background: url(images/very-hungry-man1.jpg);
  background-size: cover;
  height: 100vh;
}
.btn {
  background: #f06c4e;
  border-radius: 0px 6px 6px 0px;
}

.food-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 30px;
}
.food-item {
  background-color: #f8f7f5;
}
.food-item h4 {
  padding: 10px 0;
}
